/* site wide css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section-title {
    padding: 10px;
    background-color: rgba(95, 95, 95, 0.75);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-size: 35px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


/* header and navigation css */
header {
    padding: 20px;
    background-color: rgba(95, 95, 95, 0.85);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #8ae833
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}


/* hero css */
.hero {
    background-image: url(../assets/images/911Turbo1.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    padding: 80px;
}

.hero h3 {
    flex-wrap: flex-end;
}

.hero-text {
    color: white;
    align-items: space-around;
    line-height: 2.0;
}


/* about section */
.about {
    display: flex;
    padding: 20px;
    line-height: 2.0;
}

.about div {
    padding: 20px;
}

.bio-image {
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.bio-image img {
    width: 50%;
    align-items: left;
    padding: 0;
    margin: 0;
    flex-wrap: flex-start;
}

.bio {
    width: 40%;
    margin: 0;
    padding: 0;
    align-items: left;
    flex-wrap: flex-end;
    justify-content: center;
}

aside {
    padding: 20px;
}


/* portfolio section */
.portfolio {
    padding: 10px;
    margin: 0;
    background-color: rgba(95, 95, 95, 0.75);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
}

.portfolio h3 {
    color: white;
    font-size: 35px; 
}

.projects-second-row {
    display: flex;
    justify-content: space-between;
}

.photo {
    flex: 1 12%;
    position: relative;
}

.photo img {
    max-width: 100%;
    align-items: center;
}

.text-block {
    position: absolute;
    bottom: 60px;
    left: 40px;
    background-color: rgba(95, 95, 95, 0.75);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* contact section */
.contact {
    padding: 10px;
    margin: 0;
    background-color: rgba(95, 95, 95, 0.75);
    justify-content: center;
    flex-wrap: wrap;
}

.contact h3 {
    color: white;
    font-size: 35px;
}

.address {
    text-align: center;
    padding: 60px;
}

/* media queries */
@media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      padding-left: 60px;
    }
    .about div {
        width: 100%;
    }
  }